<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1"
          name="/Users/bedreddinalacaogullari/IdeaProjects/alloverCommerceProject_Team02/src/test/java/myapp/tests/bedreddin">

        <packages>

            <package name="myapp.tests.bedreddin">


            </package>

        </packages>
    </test>
</suite>